.about {
  margin-top: 89px;
}

.about__wrapper {
  position: relative;
  z-index: 100;
  background: url("../img/about-bg.jpg") no-repeat top;
}

.about__title {
  margin-bottom: -60px;

  text-align: center;
  font-family: @font-secondary-bold;
  text-transform: uppercase;
  color: #fafafa;
  font-weight: bold;
  font-size: 196px;
  letter-spacing: 7px;
}
